a {
  text-decoration: none;
}
span {
  padding-left: 10px;
}
.animate:hover {
  animation: rotate 3s;
}
.blacked {
  color: black;
}
.whiter {
  color: white;
}

@keyframes rotate {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(-90deg);
  }
}
.modal-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 767px) {
  .modal-container {
    display: none;
  }
}
.heading {
  font-size: 15px;
  margin-left: 10px;
}
.trigger-button {
  border: none;
  background-color: inherit;
}
.close-button {
  align-self: flex-end;
  border: none;
  background-color: inherit;
}
.logout-button {
  color: #3b82f6;
  border: 1px solid #3b82f6;
  background-color: inherit;
}
